.TransactionList {
  h3 {
    text-align: center;
  }

  .TransactionListItemHeader {
    display: flex;
    align-self: flex-start;
    font-weight: bold;
    padding: 5px 0;

    & > div {
      width: 100px;
      margin: 0 10px;
    }

    .date {
      width: 140px;
      margin-left: 75px;
    }
  
    .name {
      width: 200px;
    }
  }
}