.Security {
  display: flex;
  align-items: center;
  width: 700px;
  padding: 10px;

  &:first-child {
    padding-top: 20px;
  }

  .name {
    flex: 2;
  }

  .image {
    height: 30px;
    padding-right: 10px;
  }

  div:nth-child(n+3) {
    display: flex;
    flex: 1;
    padding-left: 30px;
    justify-content: flex-end;
  }
}