.TransactionListItem {
  display: flex;
  padding: 5px;

  & > * {
    width: 100px;
    margin: 0 10px;
  }

  .action {
    width: 40px;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: white;

    &.buy {
      background: #337ab7;
    }

    &.sell {
      background: #b73333;
    }
  }

  .date {
    width: 140px;
  }

  .name {
    width: 200px;
  }

  .buttons {
    display: flex;
    width: auto;
  }
}